<ng-container>
  <mat-toolbar class="header">
    <span>Test</span>
    <span class="spacer"></span>
    <button mat-stroked-button (click)="sidenav.toggle()" color="accent">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"
                 [fixedInViewport]="false">
      <!-- {{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav -->
      <mat-nav-list>
          <a mat-list-item routerLink="/employees">Employees</a>
          <a mat-list-item routerLink="/create">
            Create
            <span class="spacer"></span>
            <mat-icon>add</mat-icon>
          </a>
        </mat-nav-list>
    </mat-sidenav>


    <router-outlet></router-outlet>
  </mat-sidenav-container>
</ng-container>

